.add-item {
  font-family: Verdana;
  font-weight: 600;
  font-size: 2vh;
}
.stages {
  display: flex;
  justify-content: space-between;
}
.stage-item {
  height: 400px;
  width: 24%;
  font-family: Verdana;
  font-weight: 600;
  font-size: 2vh;
}

.stage-item .btn-idea {
  display: block;
  margin-top: 3px;
  cursor: pointer;
  background-color: white;
  border-radius: 3px;
  font-family: Verdana;
  font-size: 2vh;
}

.inputDataEntry {
  margin: 1% 5% 2% 1%;
  width: 25%;
  height: 27px;
}

.stage-item .btn-idea:hover {
  background-color: yellow;
}
.stage-container {
  display: flex;
  justify-content: space-between;
  margin: 5% 9% 0% 9%;
}

.label {
  margin: 1% 10% 60% 10%;
  font-size: 20px;
  font-weight: bold;
}
.values {
  margin: 0% 10% 30% 0% !important;
  display: block !important;
  border-radius: 10%;
  width: 80px;
  height: 30px;
}

button:hover {
  background-color: yellow;
  cursor: pointer;
}

.inputlabel {
  margin-left: 10%;
}
